.msgDiv>li{position:absolute;top:0;left:0;width:100%;height:2.0em;border-bottom:solid 0.1em darkgray; line-height:2em;padding-left:1em}
.msgDiv>li .msg{padding:0 2em 0 2em}
li.info{background-color:#dfd}
li.warn{background-color:#ffff99}
li.error{background-color:#ffcccc}
