/* Initially I defined "width:100%" for selector ".dialog", but it doesn't expand the dialog to 100% of window, instead it expands to 100% of its container, which is the target <div> in the parent view. Solution: use position: absolute and width:100% */
.dialog{position: absolute; left:0; right:0; min-height:30%; border-style:solid; border-width:.1em 0 .1em 0; padding: 2em}
.msg{ margin-top: 1em}
.msg2{color: #696969}
.actions{text-align:right; margin-right:25%}
input[type=button]{
  border: solid .1em; background-color: transparent; padding: .4em;  min-width: 6em;  cursor: pointer;
}


