/* initially, i used selector ".cell img" to target the img inside a cell, however not always it's going to be an img inside a cell, there could be an SVG chart, or some other HTML elements, etc. That's why i changed the selector: use a class "content" instead of the 'img' tag, ie. changed selector ".cell img" to ".cell .content" */
div{margin:0;padding:0}
.slideview{border-style:solid; border-width: .1em 0; position:absolute;top:6em; left:0; width:100%; height: 58%}
#viewport{position:absolute;top:0;left:14%;width:72%;height:100%;overflow:hidden; z-index:2;white-space:nowrap;margin-bottom:0}
#subtitles{position:absolute; top:55%; padding-top:8em; left:1%;right:1%;text-align:center;z-index:1}

/* Notice that both the table (.container) and the columns (.container>div) elements define separate borders. That might cause to see double borders. So, to display a single border for the table, use the "border-collapse" property on the display:table element.*/
.container{display:table;width:100%;height:100%; position:absolute; top:0;left:0;table-layout:fixed;overflow:hidden;border-collapse:collapse;
}
.container>div, .group>div{padding:0;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}
.container>div{display:table-cell;border:solid white; border-width:0 .3em;padding: .3em 0}

/* overflow:hidden must be defined in this sub-table too, otherwise Firefox won't hide the imgs in this table's cells that overlap with the parent table */
.group{display:table;height:100%;width:100%;table-layout:fixed;overflow:hidden}

/* sets initial height of cells in a group, otherwise Transitions won't play. Warning: I assume always two cells in a group, If there can be more cells in group, i should calculate the height proportionally.	*/
.group >div{
	display:table-row; height:50%
    }

.cell{overflow:hidden; padding: 0;}
.cell.active{ 
	/*background-color:yellow;*/
}
/*if i don't add overflow:hidden to the wrapper, Firefox won't hide part of the img (in columns with 2 imgs) that overflows the wrapper DIV. 
Use a black background, and set img's "opacity" < 1.0 when not active (which will make the img a bit *darker*). then, when an img becomes activated, set its opacity to 1.0 (which will make the img brighter) */
.cell>.wrapper{background-color:black;overflow:hidden}

/* Don't use a selector like ".cell > p"!! because i add a DIV under .cell, which is just a wrapper to make work absolute positioning inside table-cell elements. that's why i adedd a wrapper around P and IMG. */
.cell p{display:none;color:white;background-color:#222;z-index:100;position:absolute;top:0;left:0;margin-top:0; padding:.2em .5em; opacity:0.7;width:100%;overflow:hidden;white-space:nowrap}
.cell.active p{display: block}

/* I use height:100% to expand the image vertically to fit the cell's height. this is useful because the demo should work for any screen size, that's why i don't use *pixels* in width/height of container or cells, i use *percentages*. TODO: Equally, "margin-left" should use % instead of pixels, but i need do testing first. */
.cell .content{ margin-top: 0px; margin-left:-6em;  opacity:0.5; height:100%; position:absolute; white-space: nowrap;

	/* I define transitions here for margin change, because when the img gets activated, the top/left margin changes */
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}
.group .content{margin-top:-5em}

.cell.active .content{ 
	margin-top: 0px; margin-left:0px;opacity:1
}

.group.active .content{margin-left:0;}
/* Transitions for .container elements */
/* The next rule is required to apply transition to the transforms for idle/done; otherwise, the transforms would be executed without any transition */
.container {
	opacity: 1;
	transition         : all 1s;
	-o-transition      : all 1s;
	-moz-transition    : all 1s;
	-webkit-transition : all 1s;
	-ms-transition : all 1s;
}
/* CSS translation by percentage takes the % of the element that is being translated to figure the distance to move. It does not act like your typical css declaration like top, margin-top, or padding-top, which are all based on parent container. See:
http://stackoverflow.com/questions/11160227/translate-x-and-y-percentage-values-based-on-elements-height-and-width

The rule for [smil=idle] should not match the first .container, because i prefer that the first container appears *immediately* when the app loads, instead of making it slide from right side, like subsequent containers will do. This way, the app presents the UI *immediately* to the user. 
*/
.container[smil=idle]:not(#container1) {
	/*opacity: 0;*/
	transform         : translate(+100%);
	-o-transform      : translate(+100%);
	-moz-transform    : translate(+100%);
	-webkit-transform : translate(+100%);
	-ms-transform 	: translate(+100%);
}
.container[smil=done] {
	/*opacity: 0;*/
	transform         : translate(-100%);
	-o-transform      : translate(-100%);
	-moz-transform    : translate(-100%);
	-webkit-transform : translate(-100%);
	-ms-transform	: translate(-100%);
}

/* use a z-index higher than '#subtitles' and '#viewport', coz the div for subtitles might appear on top of the media controls, eg. if the debug panel is open and the screen's height shrinks. */
#tcontrols{position:absolute; bottom:0; left:0; width:100%;z-index:10;border-top:solid .1em #c3c3c3;white-space: nowrap}
.cell a, .cell a:visited{color:cyan}
